<body class="biography">

<div id="wrapper">
	<div id="header">
		<p id="logo">Jessica Hilltout</p>
	</div>

	<div id="page-content">
<p>Предполагаемые побудительные мотивы гоголевского творчества, сформулированные уже на первых страницах книги, в дальнейшем никак не развиваются, а только лишь снова и снова подтверждаются прямолинейными суждениями героя-рассказчика и разнообразными биографическими подробностями. Да, Гоголь считал себя “поэтом возможного” (идеального, не-действительного), остро ощущал свою призванность к преобразованию судеб страны и ее народа, пытался посредством художественного (и не только художественного) слова в буквальном смысле переменить, излечить мир — все это описано </p>
<p>Предполагаемые побудительные мотивы гоголевского творчества, сформулированные уже на первых страницах книги, </p>
<p>Three years later, along with a friend, I bought an old jeep, left Belgium and headed east. The journey lasted two years. The jeep took us 80,000km through Central Asia and Africa. The money (or lack of it) forced us to lead a simple life. This was a time to drift and appreciate the countries that nourished our eyes and mind. I took photographs when it felt right, capturing FACES an PLACES, not quite knowing where my work was going.</p>
<p>In retrospect, that trip feels like the start of the way I see things today. I&rsquo;ve often been attracted to &lsquo;un western&rsquo; countries. A certain essential energy shines through everything where the spiritual far outweighs the material. I am interested in the poetic character of things; in the small, seemingly unimportant things. There is hidden beauty in the ordinary, and great beauty in the overlooked.</p>

	</div>									
<br>

 <p class='ritadown'> 
  <a href=<%= mains_path %> id='w1'> главная</a>
  <a href=<%= contact_path %> id='w2'> контакты</a> 
  <a href=<%= biography_path %> id='w4'> биография </a>
  <a href=<%= price_path%> id='w5'> услуги </a>
  <a href=<%= my_way_path%>  id='w6'> мой путь фотографа  </a>
</p> 
		

</div>