<body class="contact">

<div id="wrapper">

	<div id="header">
		<p id="logo">Rita Gross</p>
	</div>
	<div id="content">
		<div id="page-content">
		<p>Глубокое, Минск</p>
		<p>+375 29 814 57 01</p>
		<p><a href="mailto:vladislav.spawn@gmail.com">vladislav.spawn@gmail.com</a></p>
		<p><a href="https://vk.com/vlad.hilko">vk.com/vlad.hilko</a></p>		</div>
	</div>

<br>
<br>




 <p class='ritadown'> 
  <a href=<%= mains_path %> id='w1'> главная</a>
  <a href=<%= contact_path %> id='w2'> контакты</a> 
  <a href=<%= biography_path %> id='w4'> биография </a>
  <a href=<%= price_path%> id='w5'> услуги </a>
  <a href=<%= my_way_path(1)%>  id='w6'> мой путь фотографа  </a>
</p>  
		
		
</div>





</body>