<body class="home">

<div id="wrapper">

	<div id="header">
		<p id="logo">Jessica Hilltout</p>
	</div>
	<div id="content">
			<ul id="home-pics">
				<li><a href=<%= main_path(1)%> title="Просмотреть индивидуальные фотосеты"><img src=<%= image_url("content/home/people.jpg") %> alt="faces and places" /><span class="caption" >люди</span></a></li>
				<li><a href="wedding_foto/wedding.html" title="Просмотреть свадебную коллекцию"><img src=<%= image_url("content/home/wedding.jpg")%> alt="amen" /><span class="caption">свадьба</span></a></li>
				<li><a href="nature_foto/nature.html" title="Просмотерть фотографии природы "><img src=<%=image_url("content/home/nature.jpg")%> alt="imperfection" /><span class="caption">природа</span></a></li>
			</ul>
			
	</div>
<br>
<br>
<br>


 <p class='ritadown'> 
  <a href=<%= mains_path %> id='w1'> главная</a>
  <a href="contact.html" id='w2'> контакты</a> 
  <a href="biography.html" id='w4'> биография </a>
  <a href="awards-exhibitions-travels.html" id='w5'> услуги </a>
  <a href="my-way-of-working.html"  id='w6'> мой путь фотографа  </a>
</p> 
		
</div>




</body>