<body class="awards-exhibitions-travels">

<div id="wrapper">
	<div id="header">
		<p id="logo">Rita Gross</p>
	</div>
<div id="content">
		<div id="page-content">
<dl>
	<dt>услуги:</dt>
	<dd>Свадебная фотосъёмка</dd>
	<dd>Свадебная видеосъёмка</dd>
	<dd>Love story</dd>
	<dd>Индивидуальные фотосессии</dd>
	<dd>бла-бла-бла</dd>
</dl>
<dl>
	<dt>бла-бла-бла:</dt>
	<dd>2nd place, Kentmere competition, 1998.</dd>
	<dd>3rd place, John Kobal International portrait award.</dd>
	<dd>Sony World Photography Awards finalist. &lsquo;Malagassy Moda&rsquo;, 2009.</dd>
	<dd>Prix de la Photographie Paris (PX3), honerable mention, 2009.</dd>
</dl>
<dl>
	<dt>travels:</dt>
	<dd>Overland to Morocco. Experimenting pinhole camera, 2000.</dd>
	<dd>Overland from Brussels to Mongolia home via Africa.  Faces &amp; Places, 2002.</dd>
	<dd>Sailing from Cape Town to St. Helena. 2007.</dd>
	<dd>Madagascar. Imperfection. 2007.</dd>
	<dd>Africa. AMEN. 2008-2010.</dd>
</dl>
</div>
<br>
<br>

	</div>
 <p class='ritadown'> 
  <a href=<%= mains_path %> id='w1'> главная</a>
  <a href=<%= contact_path %> id='w2'> контакты</a> 
  <a href=<%= biography_path %> id='w4'> биография </a>
  <a href=<%= price_path%> id='w5'> услуги </a>
  <a href=<%= my_way_path(1)%>  id='w6'> мой путь фотографа  </a>
</p> 


</div>


</body>