<body class="collections faces 9">

<div id="wrapper">
	<div id="header">
		<p id="logo">Rita Gross</p>
	</div>
	<div id="content">
			<div id="photo">
				<div class="figure">
					<img src=<%= image_url(@nature.image_url) %> alt="Mandela Park, Accra." />
					<p class="caption"><%=@nature.name %></p>
				</div>
				<div id="thumbs-carousel">
					<a id="ctrl-prev" href="#">prev</a> <a id="ctrl-next" href="#">next</a>
					<div id="thumbs-wrapper">
						<ul id="thumb-pics">
							
							<% @natures.each do |i| %>
							  <% if i == @nature %>
							    <li class="active"><a href="people.html" ><img src=<%= image_url(@nature.image_thumb_url) %>  /></a></li>
							    <%next%>
							  <% end %>
								<li><a href=<%=nature_path(i)%>> <%= image_tag(image_url(i.image_thumb_url)) %> </a></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
	</div>
</div>

<br>


 <p class='ritadown'> 
  <a href=<%= mains_path %> id='w1'> главная</a>
  <a href=<%= contact_path %> id='w2'> контакты</a> 
  <a href=<%= biography_path %> id='w4'> биография </a>
  <a href=<%= price_path%> id='w5'> услуги </a>
  <a href=<%= my_way_path%>  id='w6'> мой путь фотографа  </a>
</p> 

</div>



</body>